body {
  margin: 0;
  overflow: hidden;
  background-color:darksalmon;
}




canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* -1 so that you can click on the button to trigger the function */ 
}

img[src="images/nameLogo.png"]{
    width: 30%;
    padding-top: 20px;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}

@-webkit-keyframes run {
    0% {
      left: 15%;
    }
    50% {
      left: 52%;
    }
    100% {
      left: 15%;    
    }
  }



.heads img[src="images/moustache-boi.png"] {
    width: 10%;
}

.heads img:first-child { 
    position: fixed;
    left: 1%;
    top: 20px;
}

.welcome-text {
  position: absolute;
  color: darksalmon;
  background-color: transparent;
  margin-top: 40%;
  margin-left: 37%;
  font-size: 100px;
}

.heads img:nth-child(2) {
    position: fixed;
    left: 87%;
    top: 20px;
}


.welcome-button {
    position: absolute;
    margin-top: 500px;
    margin-left: 45%;
}

#bouncy {
  position: absolute;
  top: 80%;
  left: 10%;
  font-size: 20px;
  background-color: purple;
  stroke-width: 5px;
  text-decoration: none;
  
}

#noBounce {
  position: absolute;
  top: 85%;
  left: 10%;
  font-size: 20px;
  background-color: purple;
  stroke-width: 5px;
  text-decoration: none;
  
}

a {
  text-decoration: none;
  color: white;
  font-family:cursive;
  text-shadow: 2px black;
}
